<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @subscription.user.full_name %>
</p>

<p>
  <strong>Status:</strong>
  <%= @subscription.status.status_name %>
</p>

<%= link_to 'Edit', edit_subscription_path(@subscription) %> |
<%= link_to 'Back', subscriptions_path %>
